# Label Ecoding

In [4]:
import pandas as pd
df = pd.DataFrame({"Color":["red","blue","green","green","red"]})
df.head()

   Color
0    red
1   blue
2  green
3  green
4    red

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
Encoder = LabelEncoder()
Encoder.fit_transform(df[["Color"]])

c:\Users\touqe\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2])

In [7]:
print(Encoder.transform([["green"]]))
print(Encoder.transform([["blue"]]))

[1]
[0]

c:\Users\touqe\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
c:\Users\touqe\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [19]:
from sklearn.preprocessing import OrdinalEncoder
sizes = pd.DataFrame({"size":["large","small","medium","large","small"]})
sizes

     size
0   large
1   small
2  medium
3   large
4   small

In [22]:
ordinal = OrdinalEncoder(categories=[["small","medium","large"]])
ordinal.fit_transform(sizes[["size"]])

array([[2.],
       [0.],
       [1.],
       [2.],
       [0.]])

In [32]:
import seaborn as sns
dataSet = sns.load_dataset('tips')
tips = dataSet.iloc[: ,2:6]
tips.head()

      sex smoker  day    time
0  Female     No  Sun  Dinner
1    Male     No  Sun  Dinner
2    Male     No  Sun  Dinner
3    Male     No  Sun  Dinner
4  Female     No  Sun  Dinner

In [59]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()



for i in tips.columns:
    if tips[i].dtype == "object":
        tips[i] = encoder.fit_transform(tips[i])


tips.head()

      sex smoker  day    time
0  Female     No  Sun  Dinner
1    Male     No  Sun  Dinner
2    Male     No  Sun  Dinner
3    Male     No  Sun  Dinner
4  Female     No  Sun  Dinner

In [78]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

animals = ['dog', 'cat', 'rabbit', 'cat', 'dog', 'rabbit']
animals = pd.Series(animals)

categories = encoder.fit_transform(animals)

df = pd.DataFrame(
    {
        "categories":categories
        
        }
    )
pd.concat([animals, df["categories"]] ,axis=1)

        0  categories
0     dog           1
1     cat           0
2  rabbit           2
3     cat           0
4     dog           1
5  rabbit           2

### practice another

In [104]:
Priority = ["Low", "Medium", "High", "Medium", "Low"]
df = pd.DataFrame({"Priority":Priority})

encoder = LabelEncoder()
transform = encoder.fit_transform(df)

tranformdf = pd.DataFrame({"transform":transform})

final = pd.concat([df,tranformdf],axis=1)
final

c:\Users\touqe\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

  Priority  transform
0      Low          1
1   Medium          2
2     High          0
3   Medium          2
4      Low          1

In [135]:
df = pd.DataFrame(
    {
        "Brand": ["Nike", "Adidas", "Puma", "Nike"],
        "Color": ["Red", "Blue", "Green", "Red"]
    }
)

encoder = LabelEncoder()

for i in  df.columns:
    df[i] = encoder.fit_transform(df[i])